body, div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
body {
    margin-bottom: 100px;
    font: 20px/2 arial,sans-serif;
}


/* header */
.header {
    padding: 2em;
    overflow: hidden;
    color: #FFF;
    background: #0067ED;
}
.header h1 {
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
}


/* module */
.module {
    padding: 0 2em;
}

/* module h2 */
.module h2 {
    margin: 0 -1em;
    padding: 1em;
    font-size: 2em;
    font-weight: normal;
    background: #dfe1e8;
}

/* module h3 */
.module h3 {
    padding: 2em 0 1em;
    font-size: 1em;
}

/* module h3 */
.module h4 {
    padding: 1em 0;
    font-size: 1em;
}


/* code */
.code {
    padding: 0 0;
    box-sizing: border-box;
}
.code > pre {
    margin: 2em -2em 0;
    padding: 2em;
    font-size: 1em;
    overflow-x: scroll;
    background: #f7f7f9;
    border: 1px solid #dfe1e8;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}

/* table */
.module table {
    margin: 0;
    padding: 0;
    display: table;
    max-width: 100%;
    font-size: 1em;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
}
.module table caption {
    padding: 0;
}
.module table tbody tr:nth-child(odd) td,
.module table tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
.module table td,
.module table th {
    padding: 0.5em 0.25em;
    font-size: 1em;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}
