body, div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
body {
    margin-bottom: 100px;
    font: 16px/2 arial,sans-serif;
    color: #343a40;
}
code {
    font-family: Consolas, Monaco, monospace;
}
a {
    text-decoration: none;
    color: #343a40;
}


/* header */
.header {
    padding: 112px 32px;
    overflow: hidden;
}
.header h1 {
    margin: 0 auto;
    line-height: 1;
    font-size: 64px;
    text-align: center;
}


/* outline */
.outline {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    width: 600px;
    list-style: none;
}
.outline li {
    float: left;
    width: 150px;
    text-align: center;
    font-size: 24px;
}


/* module */
.module {
    padding: 0 32px;
}
.module > * {
    margin: 32px 0;
}
.module > div,
.module > p,
.module > blockquote,
.code > div,
.code > p,
.code > blockquote {
    max-width: 700px;
}

/* module h2 */
.module h2 {
    margin: 0 -32px;
    padding: 32px;
    font-size: 32px;
    font-weight: normal;
    background: #dee2e6;
}

/* module h3 */
.module h3 {
    position: relative;
    margin: 64px 0 32px;
    line-height: 32px;
    font-size: 24px;
}
.module h3 code:before {
    content: '¶';
    margin-right: 5px;
    position: absolute;
    left: -32px;
    width: 32px;
    color: #adb5bd;
    text-align: center;
}

/* module h4 */
.module h4 {
    font-size: 16px;
}

/* blockquote */
.module blockquote {
    margin-left: -18px;
    padding-left: 16px;
    color: #868e96;
    border-left: 2px solid currentColor;
}

/* code */
.module .code {
    margin: 32px 0;
    padding: 0;
    max-width: 100%;
}
.code {
    box-sizing: border-box;
}
.code > * {
    margin: 32px 0;
}
.code > pre {
    margin: 0 -32px 0;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 30px;
    overflow-x: scroll;
    background: #f7f7f9;
    border: 1px solid #dee2e6;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}
.code > pre code {
    font-size: 16px;
}

/* table */
.module table {
    padding: 0;
    display: table;
    max-width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
}
.module table caption {
    padding: 0;
}
.module table tbody tr:nth-child(odd) td,
.module table tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
.module table td,
.module table th {
    min-width: 100px;
    padding: 4px;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}
